# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100 # Hz
    lock_memory: false

    so101_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    so101_gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

so101_arm_controller:
  ros__parameters:
    joints:
      - Shoulder_Rotation
      - Shoulder_Pitch
      - Elbow
      - Wrist_Pitch
      - Wrist_Roll
      # - Gripper
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

so101_gripper_controller:
  ros__parameters:
    joints:
      - Gripper
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
